body {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    height: 100vh;
}

#div1 {
    background-color: #6b5b95
}

#div2 {
    background-color:  #feb236
}

#div3 {
    background-color: #d64161
}

#div4 {
    background-color:  #ff7b25
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    display:inline-block;
    transition: all 0.15s;}

